/* Extra Small Devices (Phones) */
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .form-control {font-size: 14px;}
  .form-select {font-size: 14px;}
  .partner-visual {width: 100%;}
  .stat_box_new01 p {text-align: center;}
  .awardInfoGrid_new01 {grid-template-columns: repeat(2, 1fr); gap: 7px; margin-bottom: 16px;}
  .navbar-logo img {width: 80px;}
  .navbar-toggler-icon { background-size: 80%;}
  .navbar-toggler { padding: 0 5px;  border: none;}
  .navbar-toggler:focus { box-shadow:none;}
  .carousel-caption h1 {font-size: 21px !important; line-height: 27px;}
  .carousel-caption p {font-size: 12px;}
  .carousel { height: 400px;}
  .carousel-inner { height: 400px;}  
  .carousel-item { height: 400px;min-height: 400px;}
  .carousel-caption p {display: none;}
  .carousel-caption a { font-size: 12px; padding: 12px 23px;  width: 70%;  margin-bottom: 10px; min-width: 70%; margin-right: 0;}
  .custom-indicators {position: absolute; left: 0;}
  .IntelligencePart {margin-top: 0;}
  .IntelligenceCanvaPart {width: 100%;position: relative;top: -70px;left: 5px;}
  .circle-wrapper {width: 360px;height: 360px; margin-bottom: -70px;position: relative;left: -37px;}  
  .wheel-item:nth-child(2) {width: 80px; height: 80px; top: 85px; left: 175px; rotate: 303deg;}   
  .wheel-item:nth-child(3) {width: 80px; height: 80px; top: 141px; right: 74px; rotate: 1deg;} 
  .wheel-item:nth-child(4) {width: 80px; height: 80px; bottom: 85px; right: 107px; rotate: 60deg;} 
  .wheel-item:nth-child(5) {width: 80px; height: 80px; bottom: 86px; left: 107px; rotate: 124deg;} 
  .wheel-item:nth-child(6) {width: 80px; height: 80px; bottom: 142px; left: 76px; rotate: 182deg;} 
  .wheel-item:nth-child(7) {width: 80px; height: 80px; top: 84px; left: 109px; rotate: 241deg;}  
  .wheel-item:nth-child(2).active {width: 100px; height: 100px; top: 68px; left: 168px; rotate: 302deg;} 
  .wheel-item:nth-child(2).active img { width: 34px; top: 44%; left: 32%;}    
  .wheel-item:nth-child(3).active {width: 100px; height: 100px; top: 131px; right: 59px; rotate: 1deg;}  
  .wheel-item:nth-child(3).active img { width: 34px; top: 44%; left: 32%;}   
  .wheel-item:nth-child(4).active {width: 100px; height: 100px; bottom: 68px; right: 97px; rotate: 62deg;}  
  .wheel-item:nth-child(4).active img { width: 34px; top: 30%; left: 47%;} 
  .wheel-item:nth-child(5).active {width: 100px; height: 100px; bottom: 70px; left: 93px; rotate: 122deg;} 
  .wheel-item:nth-child(5).active img { width: 34px; top: 38%; left: 47%;}  
  .wheel-item:nth-child(6).active {width: 100px; height: 100px; bottom: 134px; left: 60px; rotate: 182deg;} 
  .wheel-item:nth-child(6).active img { width: 34px; top:21%; left: 37%;}  
  .wheel-item:nth-child(7).active {width: 100px; height: 100px; top: 68px; left: 99px; rotate: 242deg;}
  .wheel-item:nth-child(7).active img { width: 34px; top:24%; left: 32%;} 
  .wheel-item img {width: 26px; top: 32%; left: 37%;}
  .center-eye {width: 80px; height: 80px;}
  .center-eye img {width: 40px;}
  .wheel-item span {top: 50%; left: 120%; padding: 4px 8px; border-radius: 5px;font-size: 11px;font-weight: 500; box-shadow: 0 1px 10px rgba(0, 0, 0, .12);}
  .Evidence:hover span {left: 35%;top: 0%;}
  .De-risk_Security:hover span {left: 58%;rotate: -124deg !important;top: 12px;}
  .Embeds:hover span {left: 64px;rotate: 179deg !important;top: 30px;width: 62px;}
  .Response:hover span { left: 49px;rotate: 120deg !important;top: 7px; width: 71px;}
  .IntelligenceContentPart {top: -40px;width: 100%;text-align: center;}
  .section-subtitle {font-size: 12px;}
  .sideTitlePart {font-size: 18px !important;}
  .sideTitlePart-desc {font-size: 13px !important;line-height: 19px !important;}
  .content-box { text-align: left;}
  .content-box h3 {font-size: 18px;}
  .content-box p {font-size: 13px;line-height: 21px;margin-bottom: 0 !important;}
  .iiris-trust-bar {margin-top: 0;}
  .accordianItemCustom button {padding: 3px 0; font-size: 13px;}
  .learn-more{font-size: 13px;}
  .accordianPart {margin-top: 10px !important;}
  .accordianPart h3 {margin-bottom: 10px !important;}
  .content-box_tab a {line-height: 25px; font-size: 13px;}
  .content-box_tab {padding: 0;}
  .main-title {font-size: 18px;}
  .main-desc {font-size: 13px;line-height: 20px; padding: 0; margin-bottom: 15px;} 
  .riskImage_riskPart {display: none;}
  .riskBtnWrap_riskPart a {max-width: 100%;margin: 0 auto;}
  .footer-logo {max-width: 100px;}
  .brand-title {font-size: 18px;}
  .brand-text {line-height: 22px;font-size: 13px;}
  .footer-links a {font-size: 13px;}
  .newsletter-icon {width: 52px;height: 52px;}
  .newsletter-card h3 {font-size: 18px;}
  .newsletter-card p {font-size: 13px;}
  .contact-item strong {font-weight: 300;}
  .footer-bottom p {font-size: 13px;}
  .bottom-links a {font-size: 13px;}
  .contact-item svg {height: 18px;}
  .stats-parallax {margin-top: 0px;}

  .about-content {text-align: center;}
  .premium-card h4 {font-size: 16px;}
  .about-text { font-size: 14px !important;}
  .reports-header{text-align: center;}
  .reports-header > div {text-align: center;width: 100%;}
  .reports-title { font-size: 18px;}
  .reports-header a {justify-content: center; width: 100%;}
  .report-body h5 {font-size: 16px;}
  .report-body p {font-size: 14px;}
  .globalPresence_new01 {padding: 0px 0;}
  .map_header_new01 {padding: 20px;}
  .map_header_new01 h3 { font-size: 18px;}
  .mapHolder_new01 { max-width: 100%; height: auto;}
  .mapWrapper_new01 {overflow-x: inherit;}
  .legend_new01 {margin-top: 10px;}
  .cert_header_new01 h3 {font-size: 16px;}
  .mediaHub_new01 span {text-align: center;}  
  .mediaHub_new01 h2 {text-align: center;} 
  .mediaHub_new01 p {text-align: center;}
  .mediaHub_new01 a {width: 100%;margin: 0 auto; max-width: 100%; display: block; margin-bottom: 20px;}
  .mediaInfo_new01 h5 {font-size: 14px;}
  .featuredStory_new01, .featuredStory_new01 img {height: 240px; min-height: 240px;}
  .storyOverlay_new01 h3 {font-size: 17px;}
  .storyOverlay_new01 a {padding: 0 !important; margin: 0 !important;width: 130px;}
  /* .mediaHub_new01 a {max-width: 100%;} */
  .viewAllCard_new01 { height: 200px;}
  .awardContent_new01 h3 { font-size: 16px;}
  .awardContent_new01 p {font-size: 14px; line-height: 23px;}
  .awardSection_new01 {padding: 30px 0;}
  .contactSection_new01 {padding: 30px 0;}
  .contactContent_new01 h2 {font-size: 18px;}
  .contactContent_new01 p {font-size: 14px;}
  .featureItem_new01 {justify-content: flex-start;}
  .contactFeature_new01 h5, p{text-align: left;} 
  .formHeader_new01 h3 {font-size: 18px;}
  .riskStats_riskPart p {text-align: center;}
  
  .search-container {width: 90%; margin: 60px auto;}
  .search-box input{font-size: 14px;}
  .search-box button {width: 30px;height: 30px;}
  .search-box svg {width: 15px; height: 15px;}
  .close-search {top: 0;right: 14px;}
  .close-search svg {width: 25px; height: 25px;}
  .navbar-nav {align-items: flex-start !important;margin-top: 20px;}
  .nav-link {padding: 0 !important;}
  .navbar-right {margin-left: 0;}  
  
  .viewAllCard_new01 a {width: 70%;}
  .riskHeroSection_riskPart {padding: 20px 0; text-align: center;}
  .devidePart_line {margin: 0 auto; margin-bottom: 10px;}
  .riskText_riskPart { font-size: 14px;  text-align: center;  }
  .awardSection_new01::after {width: 0;height: 0;}


  /* -------------------------------- */
  .whyChoose_flip3d {padding: 30px 0;}
  .main-desc {text-align: center;}
  .heading_part {margin-bottom: 20px !important;}
  .flipCard_flip3d {margin-bottom: -20px;}
  .insight-section { padding: 30px 0;}
  .subtitle01 {text-align: center;}
  .section-title h2 {font-size: 18px; text-align: center;}
  .abtText001 {margin-top: -29px;}
  .insight-section a {display: block; width: 100%; text-align: center; margin: 0 auto; max-width: 150px;}
  .insight-section p {text-align: center; font-size: 14px;}
  .insight-grid {display: block;margin-top: -20px;}

  /* about us */
  .custom-navbar {background: #091C35;}
  .page-banner h1 {font-size: 25px;margin-top: -15px;}
  .section-space {padding: 20px 0;}
  .who-title {font-size: 18px;}
  .section-space {text-align: center;}
  .who-intro { font-size: 14px; text-align: center;}
  .section-space p {text-align: center; font-size: 14px;}
  .who-banner {width: 100%;}
  .quote-box h2 {font-size: 25px; line-height: 30px;}
  .client-philosophy {padding: 0px 0;}
  .feature-card p {text-align: left !important;line-height: 20px;}
  .card-content {bottom: 40px;} 
  .legend_new01 div { width: 100%;}
  .abtUS_flip3d {height: 315px;}
  .quote-box h2 {font-size: 21px;line-height: 30px; margin: 0;}
  .quote-box p {font-size: 14px; text-align: center;}
  .purpose-section {padding: 30px 0;}
  .purpose-section h2 {font-size: 18px;}
  .purpose-heading {margin-bottom: 30px;}
  .purpose-content h3 {font-size: 18px;margin-bottom: 10px;}
  .purpose-content p {line-height: 25px; font-size: 14px; margin-bottom: 0;}
  .purpose-row {display: block;margin-bottom: -29px;}
  .purpose-content h6 {margin-bottom: 10px;}
  .purpose-image {margin-top: 10px;}
  .purpose-content {margin-top: 20px;}
  .about-cta {margin-top: 20px;}
  .cta-content p {margin: 13px 0 38px;font-size: 14px;line-height: 25px;text-align: center;}

  .team-filter {gap: 12px; width: 100%;}
  .team-filter-btn {font-size: 14px};
  .page-banner p {font-size: 13px; line-height: 16px; padding-top: 10px;}
  .team-content p {font-size: 13px; }
  .iiris-team-section {padding: 30px 0 30px;}

  .page-banner p {font-size: 14px; line-height: 20px;padding-top: 11px;}
  .page-banner h1 {font-size: 20px !important; font-weight: 500;line-height: 23px;}
  .career-hero { padding: 30px 0; text-align: center;}
  .career-eyebrow {display: block;}
  .career-hero h1 { font-size: 18px; letter-spacing: 0; line-height: 23px;}
  .career-hero h1 strong{display: inline;}
  .career-hero p { margin: 11px; font-size: 14px; line-height: 23px; text-align: center;}
  .career-hero-actions a {width: 100%;font-size: 14px; font-weight: 400;}
  .career-visual{ margin-top: 30px;}
  .career-image-main {width: 100%;}
  .career-image-small {display: none;}
  .life-section, .benefits-section, .jobs-section{ padding: 30px 0; text-align: center;}
  .life-section h1{ font-size: 18px;}  
  .life-section p{ font-size: 14px; text-align: center;}
  .jobs-heading h1 { font-size: 18px;}
  .jobs-count { margin-top: 20px; text-align: center; }
  .job-filter select {line-height: 32px;}
  .job-filter a {width:100%; font-weight: 400;}
  .career-join-intro h2 {text-align: center; font-size: 18px; letter-spacing: 0.1px;}
  .career-join-section { padding: 30px 0;}
  .career-join-intro::before {display: none;}
  /* .career-join-layout {text-align: center;} */
  .career-join-intro {padding: 0;}
  .career-join-intro p {text-align: center; margin: 12px 0;}
  .career-application-card {padding: 15px;}
  .career-join-intro div { text-align: center;margin: 0 auto; margin-top: 7px;}
  .application-top h3 {font-size: 16px;}
  .application-label {font-size: 12px; font-weight: 500;}
  .job-main {text-align: left !important;}
  .application-description {text-align: left;}
  .career-join-meta span { color: #657b8b; font-size: 12px;}
  .career-join-meta strong {font-size: 12px;}
  .career-application-wrap{margin-top: -40px;}
  .life-card-overlay {text-align: left !important;}

  .quote-box_P {padding-top: 30px;}
  .quote-box_P h2 {font-size: 33px;line-height: 5px;}
  .locationAdd{height: auto;}

  .page-banner {height: 240px;}

  .for_headerText {height: 240px;}
  .for_headerText h1 {font-size: 20px !important; font-weight: 500; line-height: 23px;  margin-top: -15px; }
  .for_headerText p {font-size: 14px; line-height: 20px; padding-top: 11px;}
  .flat-spacing {padding-top: 30px; padding-bottom: 30px;}
  .form-title {font-size: 18px; margin-bottom: 5px;}
  .info-desc {font-size: 13px !important;line-height: 18px !important;}
  .info-title { font-size: 18px;margin-bottom: 5px;}
  .location_Part h3 {font-size: 17px;margin-bottom: 12px;}
  .location_Part p { font-size: 13px;}
  .nav-tabs_02 {gap: 10px; padding: 10px;}
  .col_4_custom {padding-right: calc(var(--bs-gutter-x) * .5) !important;}
  .col_8_custom {padding-left: calc(var(--bs-gutter-x) * .5) !important;}
  .address_section01 {border-radius: 15px 15px 0 0;}
  .map_section01 {border-radius: 0  0 15px 15px;}
  .leader_adv { min-width: 100%;}
  .team_heading h3 { font-size: 21px;}
  .team-filter-wrap { margin-bottom: 13px;}

  .for_headerText02 {height: 310px;}
  .life-heading { margin-bottom: 15px;}
  .life-card { height: auto;}
  .job-meta span { display: block;}
  #jobsCount { text-align: center;}

  .bread-wrap.trail-items {padding-top: 7px; font-size: 12px;}
  .serv_imgArea { height: 250px;}
  .serv_imgLink {min-height: 250px !important}
  .iiris-service-main h3 {font-size: 18px;}
  .iiris-service-intro {font-size: 13px !important;}
  .serv_conArea h1 {font-size: 18px;}
  .iiris-service-main p {font-size: 13px;}
  .iiris-faq-question {font-size: 14px; padding: 9px 15px;}

  .iiris-article-card-new{display: block;}
  .iiris-article-image-new {width: 100%;max-width: 100%; min-width: 100%;}
  .iiris-articles-side-new { margin-top: 0; }

}


@media only screen and (min-width: 360px) and (max-width: 479px) {
  .form-control {font-size: 14px;}
  .form-select {font-size: 14px;}
  .partner-visual {width: 100%;}
  .stat_box_new01 p {text-align: center;}
  .awardInfoGrid_new01 {grid-template-columns: repeat(2, 1fr); gap: 7px; margin-bottom: 16px;}
  .navbar-logo img {width: 80px;}
  .navbar-toggler-icon { background-size: 80%;}
  .navbar-toggler { padding: 0 5px;  border: none;}
  .navbar-toggler:focus { box-shadow:none;}
  .carousel-caption h1 {font-size: 21px !important; line-height: 27px;}
  .carousel-caption p {font-size: 12px;}
  .carousel { height: 400px;}
  .carousel-inner { height: 400px;}  
  .carousel-item { height: 400px;min-height: 400px;}
  .carousel-caption p {display: none;}
  .carousel-caption a { font-size: 12px; padding: 12px 23px;  width: 70%;  margin-bottom: 10px; min-width: 70%; margin-right: 0;}
  .custom-indicators {position: absolute; left: 0;}
  .IntelligencePart {margin-top: 0;}
  .IntelligenceCanvaPart {width: 100%;position: relative;top: -70px; left: 15px;}

  .circle-wrapper {width: 400px;height: 400px; margin-bottom: -70px;position: relative;left: -30px;}  

  .wheel-item:nth-child(2) {width: 115px; height: 115px; top: 68px; left: 195px; rotate: 306deg;}   
  .wheel-item:nth-child(3) {width: 115px; height: 115px; top: 150px; right: 53px; rotate: 5deg;} 
  .wheel-item:nth-child(4) {width: 115px; height: 115px; bottom: 62px; right: 103px; rotate: 64deg;} 
  .wheel-item:nth-child(5) {width: 115px; height: 115px; bottom: 68px; left: 92px; rotate: 124deg;} 
  .wheel-item:nth-child(6) {width: 115px; height: 115px; bottom: 148px; left: 53px; rotate: 185deg;} 
  .wheel-item:nth-child(7) {width: 115px; height: 115px; top: 61px; left: 104px; rotate: 245deg;}
  
  .wheel-item:nth-child(2).active {width: 130px; height: 130px; top: 56px; left: 190px; rotate: 306deg;} 
  .wheel-item:nth-child(2).active img { width: 48px; top: 41%; left: 32%;}
    
  .wheel-item:nth-child(3).active {width: 130px; height: 130px; top: 143px; right: 40px; rotate: 4deg;}  
  .wheel-item:nth-child(3).active img { width: 48px; top: 44%; left: 32%;}   

  .wheel-item:nth-child(4).active {width: 130px; height: 130px; bottom: 49px; right: 95px; rotate: 66deg;}  
  .wheel-item:nth-child(4).active img { width: 48px; top: 30%; left: 47%;}    
   
  .wheel-item:nth-child(5).active {width: 130px; height: 130px; bottom: 57px; left: 81px; rotate: 125deg;} 
  .wheel-item:nth-child(5).active img { width: 48px; top: 38%; left: 47%;}    

  .wheel-item:nth-child(6).active {width: 130px; height: 130px; bottom: 143px; left: 40px; rotate: 186deg;} 
  .wheel-item:nth-child(6).active img { width: 48px; top:21%; left: 37%;}   
  
  .wheel-item:nth-child(7).active {width: 130px; height: 130px; top: 49px; left: 95px; rotate: 246deg;}
  .wheel-item:nth-child(7).active img { width: 48px; top:24%; left: 32%;}   


  .wheel-item img {width: 35px; top: 35%; left: 35%;}
  .center-eye {width: 110px; height: 110px;}
  .center-eye img {width: 70px;}

  .wheel-item span {top: 50%; left: 120%; padding: 4px 8px; border-radius: 5px;font-size: 11px;font-weight: 500; box-shadow: 0 1px 10px rgba(0, 0, 0, .12);}
  .Foresight:hover span {rotate: 54deg !important;}
  .Evidence:hover span {left: 54%; top: 0%;rotate: -5deg;}
  .Integrity:hover span {rotate: -63deg !important;top: 16%;}
  .De-risk_Security:hover span {left: 58%;rotate: -124deg !important;top: 12px;}
  .Embeds:hover span {left: 64px;rotate: 179deg !important;top: 30px;width: 62px;}
  .Response:hover span { left: 49px;rotate: 120deg !important;top: 7px; width: 71px;}

  .IntelligenceContentPart {top: -40px;width: 100%;text-align: center;}
  .section-subtitle {font-size: 12px;}
  .sideTitlePart {font-size: 18px !important;}
  .sideTitlePart-desc {font-size: 13px !important;line-height: 19px !important;}
  .content-box { text-align: left;}
  .content-box h3 {font-size: 18px;}
  .content-box p {font-size: 13px;line-height: 21px;margin-bottom: 0 !important;}
  .iiris-trust-bar {margin-top: 0;}
  .accordianItemCustom button {padding: 3px 0; font-size: 13px;}
  .learn-more{font-size: 13px;}
  .accordianPart {margin-top: 10px !important;}
  .accordianPart h3 {margin-bottom: 10px !important;}
  .content-box_tab a {line-height: 25px; font-size: 13px;}
  .content-box_tab {padding: 0;}
  .main-title {font-size: 18px;}
  .main-desc {font-size: 13px;line-height: 20px; padding: 0; margin-bottom: 15px;} 
  .riskImage_riskPart {display: none;}
  .riskBtnWrap_riskPart a {max-width: 66%;margin: 0 auto;}
  .footer-logo {max-width: 100px;}
  .brand-title {font-size: 18px;}
  .brand-text {line-height: 22px;font-size: 13px;}
  .footer-links a {font-size: 13px;}
  .newsletter-icon {width: 52px;height: 52px;}
  .newsletter-card h3 {font-size: 18px;}
  .newsletter-card p {font-size: 13px;}
  .contact-item strong {font-weight: 300;}
  .footer-bottom p {font-size: 13px;}
  .bottom-links a {font-size: 13px;}
  .contact-item svg {height: 18px;}
  .stats-parallax {margin-top: 0px;}

  .about-content {text-align: center;}
  .premium-card h4 {font-size: 16px;}
  .about-text { font-size: 14px !important;}
  .reports-header{text-align: center;}
  .reports-header > div {text-align: center;width: 100%;}
  .reports-title { font-size: 18px;}
  .reports-header a {justify-content: center; width: 100%;}
  .report-body h5 {font-size: 16px;}
  .report-body p {font-size: 14px;}
  .globalPresence_new01 {padding: 0px 0;}
  .map_header_new01 {padding: 20px;}
  .map_header_new01 h3 { font-size: 18px;}
  .mapHolder_new01 { max-width: 100%; height: auto;}
  .mapWrapper_new01 {overflow-x: inherit;}
  .legend_new01 {margin-top: 10px;}
  .cert_header_new01 h3 {font-size: 16px;}
  .mediaHub_new01 span {text-align: center;}  
  .mediaHub_new01 h2 {text-align: center;} 
  .mediaHub_new01 p {text-align: center;}
  .mediaHub_new01 a {width: 100%;margin: 0 auto; max-width: 100%; display: block; margin-bottom: 20px;}
  .mediaInfo_new01 h5 {font-size: 14px;}
  .featuredStory_new01, .featuredStory_new01 img {height: 240px; min-height: 240px;}
  .storyOverlay_new01 h3 {font-size: 17px;}
  .storyOverlay_new01 a {padding: 0 !important; margin: 0 !important;width: 130px;}
  /* .mediaHub_new01 a {max-width: 100%;} */
  .viewAllCard_new01 { height: 200px;}
  .awardContent_new01 h3 { font-size: 16px;}
  .awardContent_new01 p {font-size: 14px; line-height: 23px;}
  .awardSection_new01 {padding: 30px 0;}
  .contactSection_new01 {padding: 30px 0;}
  .contactContent_new01 h2 {font-size: 18px;}
  .contactContent_new01 p {font-size: 14px;}
  .featureItem_new01 {justify-content: flex-start;}
  .contactFeature_new01 h5, p{text-align: left;} 
  .formHeader_new01 h3 {font-size: 18px;}
  .riskStats_riskPart p {text-align: center;}  
  
  .search-container {width: 90%; margin: 60px auto;}
  .search-box input{font-size: 14px;}
  .search-box button {width: 30px;height: 30px;}
  .search-box svg {width: 15px; height: 15px;}
  .close-search {top: 0;right: 14px;}
  .close-search svg {width: 25px; height: 25px;}
  .navbar-nav {align-items: flex-start !important;margin-top: 20px;}
  .nav-link {padding: 0 !important;}
  .navbar-right {margin-left: 0;}  
  
  .viewAllCard_new01 a {width: 70%;}
  .riskHeroSection_riskPart {padding: 20px 0; text-align: center;}
  .devidePart_line {margin: 0 auto; margin-bottom: 10px;}
  .riskText_riskPart { font-size: 14px;  text-align: center;  }
  .awardSection_new01::after {width: 0;height: 0;}


  /* -------------------------------- */
  .whyChoose_flip3d {padding: 30px 0;}
  .main-desc {text-align: center;}
  .heading_part {margin-bottom: 20px !important;}
  .flipCard_flip3d {margin-bottom: -20px;}
  .insight-section { padding: 30px 0;}
  .subtitle01 {text-align: center;}
  .section-title h2 {font-size: 18px; text-align: center;}
  .abtText001 {margin-top: -29px;}
  .insight-section a {display: block; width: 100%; text-align: center; margin: 0 auto; max-width: 150px;}
  .insight-section p {text-align: center; font-size: 14px;}
  .insight-grid {display: block;margin-top: -20px;}

  /* about us */
  .custom-navbar {background: #091C35;}
  .page-banner h1 {font-size: 25px;margin-top: -15px;}
  .section-space {padding: 20px 0;}
  .who-title {font-size: 18px;}
  .section-space {text-align: center;}
  .who-intro { font-size: 14px; text-align: center;}
  .section-space p {text-align: center; font-size: 14px;}
  .who-banner {width: 100%;}
  .quote-box h2 {font-size: 25px; line-height: 30px;}
  .client-philosophy {padding: 0px 0;}
  .feature-card p {text-align: left !important;line-height: 20px;}
  .card-content {bottom: 40px;}
  .legend_new01 div { width: 100%;}
  .abtUS_flip3d {height: 315px;}
  .quote-box h2 {font-size: 21px;line-height: 30px; margin: 0;}
  .purpose-section {padding: 30px 0;}
  .purpose-section h2 {font-size: 18px;}
  .purpose-heading {margin-bottom: 30px;}
  .purpose-content h3 {font-size: 18px;margin-bottom: 10px;}
  .purpose-content p {line-height: 25px; font-size: 14px; margin-bottom: 0;}
  .purpose-row {display: block;margin-bottom: -29px;}
  .purpose-content h6 {margin-bottom: 10px;}
  .purpose-image {margin-top: 10px;}
  .purpose-content {margin-top: 20px;}
  .about-cta {margin-top: 20px;}
  .cta-content p {margin: 13px 0 38px;font-size: 14px;line-height: 25px;text-align: center;}

  .page-banner p {font-size: 14px; line-height: 20px;padding-top: 11px;}
  .page-banner h1 {font-size: 20px !important; font-weight: 500;line-height: 23px;}
  .career-hero { padding: 30px 0; text-align: center;}
  .career-eyebrow {display: block;}
  .career-hero h1 { font-size: 18px; letter-spacing: 0; line-height: 23px;}
  .career-hero h1 strong{display: inline;}
  .career-hero p { margin: 11px; font-size: 14px; line-height: 23px; text-align: center;}
  .career-hero-actions a {width: 100%;font-size: 14px; font-weight: 400;}
  .career-visual{ margin-top: 30px;}
  .career-image-main {width: 100%;}
  .career-image-small {display: none;}
  .life-section, .benefits-section, .jobs-section{ padding: 30px 0; text-align: center;}
  .life-section h1{ font-size: 18px;}  
  .life-section p{ font-size: 14px; text-align: center;}
  .jobs-heading h1 { font-size: 18px;}
  .jobs-count { margin-top: 20px; text-align: center; }
  .job-filter select {line-height: 32px;}
  .job-filter a {width:100%; font-weight: 400;}
  .career-join-intro h2 {text-align: center; font-size: 18px; letter-spacing: 0.1px;}
  .career-join-section { padding: 30px 0;}
  .career-join-intro::before {display: none;}
  /* .career-join-layout {text-align: center;} */
  .career-join-intro {padding: 0;}
  .career-join-intro p {text-align: center; margin: 12px 0;}
  .career-application-card {padding: 15px;}
  .career-join-intro div { text-align: center;margin: 0 auto; margin-top: 7px;}
  .application-top h3 {font-size: 16px;}
  .application-label {font-size: 12px; font-weight: 500;}
  .job-main {text-align: left !important;}
  .application-description {text-align: left;}
  .career-join-meta span { color: #657b8b; font-size: 12px;}
  .career-join-meta strong {font-size: 12px;}
  .career-application-wrap{margin-top: -40px;}
  .life-card-overlay {text-align: left !important;}

  .quote-box_P {padding-top: 30px;}
  .quote-box_P h2 {font-size: 33px;line-height: 5px;}
  .locationAdd{height: auto;}
  .locationAdd{height: auto;}

  .page-banner {height: 240px;}

  .for_headerText {height: 240px;}
  .for_headerText h1 {font-size: 20px !important; font-weight: 500; line-height: 23px;  margin-top: -15px; }
  .for_headerText p {font-size: 14px; line-height: 20px; padding-top: 11px;}
  .flat-spacing {padding-top: 30px; padding-bottom: 30px;}
  .form-title {font-size: 18px; margin-bottom: 5px;}
  .info-desc {font-size: 13px !important;line-height: 18px !important;}
  .info-title { font-size: 18px;margin-bottom: 5px;}
  .location_Part h3 {font-size: 17px;margin-bottom: 12px;}
  .location_Part p { font-size: 13px;}
  .nav-tabs_02 {gap: 10px; padding: 10px;}
  .col_4_custom {padding-right: calc(var(--bs-gutter-x) * .5) !important;}
  .col_8_custom {padding-left: calc(var(--bs-gutter-x) * .5) !important;}
  .address_section01 {border-radius: 15px 15px 0 0;}
  .map_section01 {border-radius: 0  0 15px 15px;} 
  .leader_adv { min-width: 100%;}
  .team_heading h3 { font-size: 21px;}
  .team-filter-wrap { margin-bottom: 13px;}

  .for_headerText02 {height: 310px;}
  .life-heading { margin-bottom: 15px;}
  .life-card { height: auto;}
  .job-meta span { display: block;}
  #jobsCount { text-align: center;}

  .bread-wrap.trail-items {padding-top: 7px; font-size: 12px;}
  .serv_imgArea { height: 250px;}
  .serv_imgLink {min-height: 250px !important}
  .iiris-service-main h3 {font-size: 18px;}
  .iiris-service-intro {font-size: 13px !important;}
  .serv_conArea h1 {font-size: 18px;}
  .iiris-service-main p {font-size: 13px;}
  .iiris-faq-question {font-size: 14px; padding: 9px 15px;}

  .iiris-article-card-new{display: block;}
  .iiris-article-image-new {width: 100%;max-width: 100%; min-width: 100%;}
  .iiris-articles-side-new { margin-top: 0; }
  
}

/* Small Devices (Large Phones) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .form-control {font-size: 14px;}
  .form-select {font-size: 14px;}
  .partner-visual {width: 100%;}
  .stat_box_new01 p {text-align: center;}
  .awardInfoGrid_new01 {grid-template-columns: repeat(2, 1fr); gap: 7px; margin-bottom: 16px;}
  .navbar-logo img {width: 80px;}
  .navbar-toggler-icon { background-size: 80%;}
  .navbar-toggler { padding: 0 5px;  border: none;}
  .navbar-toggler:focus { box-shadow:none;}
  .carousel-caption h1 {font-size: 21px !important; line-height: 27px;}
  .carousel-caption p {font-size: 12px;}
  .carousel { height: 400px;}
  .carousel-inner { height: 400px;}  
  .carousel-item { height: 400px;min-height: 400px;}
  .carousel-caption p {display: none;}
  .carousel-caption a { font-size: 12px; padding: 12px 23px;  width: 70%;  margin-bottom: 10px; min-width: 70%; margin-right: 0;}
  .custom-indicators {position: absolute; left: 0;}
  .IntelligencePart {margin-top: 0;}
  .IntelligenceCanvaPart {width: 100%;position: relative;top: -70px;}

  .circle-wrapper {width: 400px;height: 400px; margin-bottom: -70px;position: relative;left: -30px;}  

  .wheel-item:nth-child(2) {width: 115px; height: 115px; top: 68px; left: 195px; rotate: 306deg;}   
  .wheel-item:nth-child(3) {width: 115px; height: 115px; top: 150px; right: 53px; rotate: 5deg;} 
  .wheel-item:nth-child(4) {width: 115px; height: 115px; bottom: 62px; right: 103px; rotate: 64deg;} 
  .wheel-item:nth-child(5) {width: 115px; height: 115px; bottom: 68px; left: 92px; rotate: 124deg;} 
  .wheel-item:nth-child(6) {width: 115px; height: 115px; bottom: 148px; left: 53px; rotate: 185deg;} 
  .wheel-item:nth-child(7) {width: 115px; height: 115px; top: 61px; left: 104px; rotate: 245deg;}
  
  .wheel-item:nth-child(2).active {width: 130px; height: 130px; top: 56px; left: 190px; rotate: 306deg;} 
  .wheel-item:nth-child(2).active img { width: 48px; top: 41%; left: 32%;}
    
  .wheel-item:nth-child(3).active {width: 130px; height: 130px; top: 143px; right: 40px; rotate: 4deg;}  
  .wheel-item:nth-child(3).active img { width: 48px; top: 44%; left: 32%;}   

  .wheel-item:nth-child(4).active {width: 130px; height: 130px; bottom: 49px; right: 95px; rotate: 66deg;}  
  .wheel-item:nth-child(4).active img { width: 48px; top: 30%; left: 47%;}    
   
  .wheel-item:nth-child(5).active {width: 130px; height: 130px; bottom: 57px; left: 81px; rotate: 125deg;} 
  .wheel-item:nth-child(5).active img { width: 48px; top: 38%; left: 47%;}    

  .wheel-item:nth-child(6).active {width: 130px; height: 130px; bottom: 143px; left: 40px; rotate: 186deg;} 
  .wheel-item:nth-child(6).active img { width: 48px; top:21%; left: 37%;}   
  
  .wheel-item:nth-child(7).active {width: 130px; height: 130px; top: 49px; left: 95px; rotate: 246deg;}
  .wheel-item:nth-child(7).active img { width: 48px; top:24%; left: 32%;}   


  .wheel-item img {width: 35px; top: 35%; left: 35%;}
  .center-eye {width: 110px; height: 110px;}
  .center-eye img {width: 70px;}

  .wheel-item span {top: 50%; left: 120%; padding: 4px 8px; border-radius: 5px;font-size: 11px;font-weight: 500; box-shadow: 0 1px 10px rgba(0, 0, 0, .12);}
  .Foresight:hover span {rotate: 54deg !important;}
  .Evidence:hover span {left: 54%; top: 0%;rotate: -5deg;}
  .Integrity:hover span {rotate: -63deg !important;top: 16%;}
  .De-risk_Security:hover span {left: 58%;rotate: -124deg !important;top: 12px;}
  .Embeds:hover span {left: 64px;rotate: 179deg !important;top: 30px;width: 62px;}
  .Response:hover span { left: 49px;rotate: 120deg !important;top: 7px; width: 71px;}

  .IntelligenceContentPart {top: -40px;width: 100%;text-align: center;}
  .section-subtitle {font-size: 12px;}
  .sideTitlePart {font-size: 18px !important;}
  .sideTitlePart-desc {font-size: 13px !important;line-height: 19px !important;}
  .content-box { text-align: left;}
  .content-box h3 {font-size: 18px;}
  .content-box p {font-size: 13px;line-height: 21px;margin-bottom: 0 !important;}
  .iiris-trust-bar {margin-top: 0;}
  .accordianItemCustom button {padding: 3px 0; font-size: 13px;}
  .learn-more{font-size: 13px;}
  .accordianPart {margin-top: 10px !important;}
  .accordianPart h3 {margin-bottom: 10px !important;}
  .content-box_tab a {line-height: 25px; font-size: 13px;}
  .content-box_tab {padding: 0;}
  .main-title {font-size: 18px;}
  .main-desc {font-size: 13px;line-height: 20px; padding: 0; margin-bottom: 15px;} 
  .riskImage_riskPart {display: none;}
  .riskBtnWrap_riskPart a {max-width: 66%;margin: 0 auto;}
  .footer-logo {max-width: 100px;}
  .brand-title {font-size: 18px;}
  .brand-text {line-height: 22px;font-size: 13px;}
  .footer-links a {font-size: 13px;}
  .newsletter-icon {width: 52px;height: 52px;}
  .newsletter-card h3 {font-size: 18px;}
  .newsletter-card p {font-size: 13px;}
  .contact-item strong {font-weight: 300;}
  .footer-bottom p {font-size: 13px;}
  .bottom-links a {font-size: 13px;}
  .contact-item svg { height: 18px;}
  .stats-parallax {margin-top: 0px;}

  .about-content {text-align: center;}
  .premium-card h4 {font-size: 16px;}
  .about-text { font-size: 14px !important;}
  .reports-header{text-align: center;}
  .reports-header > div {text-align: center;width: 100%;}
  .reports-title { font-size: 18px;}
  .reports-header a {justify-content: center; width: 100%;}
  .report-body h5 {font-size: 16px;}
  .report-body p {font-size: 14px;}
  .globalPresence_new01 {padding: 0px 0;}
  .map_header_new01 {padding: 20px;}
  .map_header_new01 h3 { font-size: 18px;}
  .mapHolder_new01 { max-width: 100%; height: auto;}
  .mapWrapper_new01 {overflow-x: inherit;}
  .legend_new01 {margin-top: 10px;}
  .cert_header_new01 h3 {font-size: 16px;}
  .mediaHub_new01 span {text-align: center;}  
  .mediaHub_new01 h2 {text-align: center;} 
  .mediaHub_new01 p {text-align: center;}
  .mediaHub_new01 a {width: 100%;margin: 0 auto; max-width: 100%; display: block; margin-bottom: 20px;}
  .mediaInfo_new01 h5 {font-size: 14px;}
  .featuredStory_new01, .featuredStory_new01 img {height: 240px; min-height: 240px;}
  .storyOverlay_new01 h3 {font-size: 17px;}
  .storyOverlay_new01 a {padding: 0 !important; margin: 0 !important;width: 130px;}
  /* .mediaHub_new01 a {max-width: 100%;} */
  .viewAllCard_new01 { height: 200px;}
  .awardContent_new01 h3 { font-size: 16px;}
  .awardContent_new01 p {font-size: 14px; line-height: 23px;}
  .awardSection_new01 {padding: 30px 0;}
  .contactSection_new01 {padding: 30px 0;}
  .contactContent_new01 h2 {font-size: 18px;}
  .contactContent_new01 p {font-size: 14px;}
  .featureItem_new01 {justify-content: flex-start;}
  .contactFeature_new01 h5, p{text-align: left;} 
  .formHeader_new01 h3 {font-size: 18px;}
  .riskStats_riskPart p {text-align: center;}  
  
  .search-container {width: 90%; margin: 60px auto;}
  .search-box input{font-size: 14px;}
  .search-box button {width: 30px;height: 30px;}
  .search-box svg {width: 15px; height: 15px;}
  .close-search {top: 0;right: 14px;}
  .close-search svg {width: 25px; height: 25px;}
  .navbar-nav {align-items: flex-start !important;margin-top: 20px;}
  .nav-link {padding: 0 !important;}
  .navbar-right {margin-left: 0;}  
  
  .viewAllCard_new01 a {width: 70%;}
  .riskHeroSection_riskPart {padding: 20px 0; text-align: center;}
  .devidePart_line {margin: 0 auto; margin-bottom: 10px;}
  .riskText_riskPart { font-size: 14px;  text-align: center;  }
  .awardSection_new01::after {width: 0;height: 0;}


  /* -------------------------------- */
  .whyChoose_flip3d {padding: 30px 0;}
  .main-desc {text-align: center;}
  .heading_part {margin-bottom: 20px !important;}
  .flipCard_flip3d {margin-bottom: -20px;}
  .insight-section { padding: 30px 0;}
  .subtitle01 {text-align: center;}
  .section-title h2 {font-size: 18px; text-align: center;}
  .abtText001 {margin-top: -29px;}
  .insight-section a {display: block; width: 100%; text-align: center; margin: 0 auto; max-width: 150px;}
  .insight-section p {text-align: center; font-size: 14px;}
  .insight-grid {display: block;margin-top: -20px;}

  /* about us */
  .custom-navbar {background: #091C35;}
  .page-banner h1 {font-size: 25px;margin-top: -15px;}
  .section-space {padding: 20px 0;}
  .who-title {font-size: 18px;}
  .section-space {text-align: center;}
  .who-intro { font-size: 14px; text-align: center;}
  .section-space p {text-align: center; font-size: 14px;}
  .who-banner {width: 100%;}
  .quote-box h2 {font-size: 25px; line-height: 30px;}
  .client-philosophy {padding: 0px 0;}
  .feature-card p {text-align: left !important;line-height: 20px;}
  .card-content {bottom: 40px;}
  .legend_new01 div { width: 100%;}
  .abtUS_flip3d {height: 315px;}
  .quote-box h2 {font-size: 21px;line-height: 30px; margin: 0;}
  .purpose-section {padding: 30px 0;}
  .purpose-section h2 {font-size: 18px;}
  .purpose-heading {margin-bottom: 30px;}
  .purpose-content h3 {font-size: 18px;margin-bottom: 10px;}
  .purpose-content p {line-height: 25px; font-size: 14px; margin-bottom: 0;}
  .purpose-row {display: block;margin-bottom: -29px;}
  .purpose-content h6 {margin-bottom: 10px;}
  .purpose-image {margin-top: 10px;}
  .purpose-content {margin-top: 20px;}
  .about-cta {margin-top: 20px;}
  .cta-content p {margin: 13px 0 38px;font-size: 14px;line-height: 25px;text-align: center;}

  .page-banner p {font-size: 14px; line-height: 20px;padding-top: 11px;}
  .page-banner h1 {font-size: 20px !important; font-weight: 500;line-height: 23px;}
  .career-hero { padding: 30px 0; text-align: center;}
  .career-eyebrow {display: block;}
  .career-hero h1 { font-size: 18px; letter-spacing: 0; line-height: 23px;}
  .career-hero h1 strong{display: inline;}
  .career-hero p { margin: 11px; font-size: 14px; line-height: 23px; text-align: center;}
  .career-hero-actions a {width: 100%;font-size: 14px; font-weight: 400;}
  .career-visual{ margin-top: 30px;}
  .career-image-main {width: 100%;}
  .career-image-small {display: none;}
  .life-section, .benefits-section, .jobs-section{ padding: 30px 0; text-align: center;}
  .life-section h1{ font-size: 18px;}  
  .life-section p{ font-size: 14px; text-align: center;}
  .jobs-heading h1 { font-size: 18px;}
  .jobs-count { margin-top: 20px; text-align: center; }
  .job-filter select {line-height: 32px;}
  .job-filter a {width:100%; font-weight: 400;}
  .career-join-intro h2 {text-align: center; font-size: 18px; letter-spacing: 0.1px;}
  .career-join-section { padding: 30px 0;}
  .career-join-intro::before {display: none;}
  /* .career-join-layout {text-align: center;} */
  .career-join-intro {padding: 0;}
  .career-join-intro p {text-align: center; margin: 12px 0;}
  .career-application-card {padding: 15px;}
  .career-join-intro div { text-align: center;margin: 0 auto; margin-top: 7px;}
  .application-top h3 {font-size: 16px;}
  .application-label {font-size: 12px; font-weight: 500;}
  .job-main {text-align: left !important;}
  .application-description {text-align: left;}
  .career-join-meta span { color: #657b8b; font-size: 12px;}
  .career-join-meta strong {font-size: 12px;}
  .career-application-wrap{margin-top: -40px;}
  .life-card-overlay {text-align: left !important;}

  .quote-box_P {padding-top: 30px;}
  .quote-box_P h2 {font-size: 33px;line-height: 5px;}
  .locationAdd{height: auto;}
  .locationAdd{height: auto;}

  .page-banner {height: 240px;}

  .for_headerText {height: 240px;}
  .for_headerText h1 {font-size: 20px !important; font-weight: 500; line-height: 23px;  margin-top: -15px; }
  .for_headerText p {font-size: 14px; line-height: 20px; padding-top: 11px;}
  .flat-spacing {padding-top: 30px; padding-bottom: 30px;}
  .form-title {font-size: 18px; margin-bottom: 5px;}
  .info-desc {font-size: 13px !important;line-height: 18px !important;}
  .info-title { font-size: 18px;margin-bottom: 5px;}
  .location_Part h3 {font-size: 17px;margin-bottom: 12px;}
  .location_Part p { font-size: 13px;}
  .nav-tabs_02 {gap: 10px; padding: 10px;}
  .col_4_custom {padding-right: calc(var(--bs-gutter-x) * .5) !important;}
  .col_8_custom {padding-left: calc(var(--bs-gutter-x) * .5) !important;}
  .address_section01 {border-radius: 15px 15px 0 0;}
  .map_section01 {border-radius: 0  0 15px 15px;}
  .leader_adv { min-width: 100%;}
  .team_heading h3 { font-size: 21px;}
  .team-filter-wrap { margin-bottom: 13px;}

  .for_headerText02 {height: 310px;}
  .life-heading { margin-bottom: 15px;}
  .life-card { height: auto;}
  .job-meta span { display: block;}
  #jobsCount { text-align: center;}

  .bread-wrap.trail-items {padding-top: 7px; font-size: 12px;}
  .serv_imgArea { height: 250px;}
  .serv_imgLink {min-height: 250px !important}
  .iiris-service-main h3 {font-size: 18px;}
  .iiris-service-intro {font-size: 13px !important;}
  .serv_conArea h1 {font-size: 18px;}
  .iiris-service-main p {font-size: 13px;}
  .iiris-faq-question {font-size: 14px; padding: 9px 15px;}

  .iiris-article-card-new{display: block;}
  .iiris-article-image-new {width: 100%;max-width: 100%; min-width: 100%;}
  .iiris-articles-side-new { margin-top: 0; }
  
}

/* Medium Devices (Tablets) */
@media only screen and (min-width: 768px) and (max-width: 991px) {  
  .partner-visual {min-height: 380px;width: 100%;}

  .carousel { height: 600px;}
  .carousel-inner { height: 600px;}  
  .carousel-item { height: 600px;min-height: 600px;}
  .content-box { text-align: left;}
  .stats-parallax{margin-top: 0;}
  .stats-parallax .col-6 {width: 25%;}
  
  .IntelligencePart {margin-top: 0;}
  .IntelligenceContentPart {top: 0px;}
  .IntelligenceCanvaPart {position: relative;top: -70px;}

  .circle-wrapper {width: 400px;height: 400px; margin-bottom: -70px;position: relative;left: -30px;}  

  .wheel-item:nth-child(2) {width: 115px; height: 115px; top: 68px; left: 195px; rotate: 306deg;}   
  .wheel-item:nth-child(3) {width: 115px; height: 115px; top: 150px; right: 53px; rotate: 5deg;} 
  .wheel-item:nth-child(4) {width: 115px; height: 115px; bottom: 62px; right: 103px; rotate: 64deg;} 
  .wheel-item:nth-child(5) {width: 115px; height: 115px; bottom: 68px; left: 92px; rotate: 124deg;} 
  .wheel-item:nth-child(6) {width: 115px; height: 115px; bottom: 148px; left: 53px; rotate: 185deg;} 
  .wheel-item:nth-child(7) {width: 115px; height: 115px; top: 61px; left: 104px; rotate: 245deg;}
  
  .wheel-item:nth-child(2).active {width: 130px; height: 130px; top: 56px; left: 190px; rotate: 306deg;} 
  .wheel-item:nth-child(2).active img { width: 48px; top: 41%; left: 32%;}
    
  .wheel-item:nth-child(3).active {width: 130px; height: 130px; top: 143px; right: 40px; rotate: 4deg;}  
  .wheel-item:nth-child(3).active img { width: 48px; top: 44%; left: 32%;}   

  .wheel-item:nth-child(4).active {width: 130px; height: 130px; bottom: 49px; right: 95px; rotate: 66deg;}  
  .wheel-item:nth-child(4).active img { width: 48px; top: 30%; left: 47%;}    
   
  .wheel-item:nth-child(5).active {width: 130px; height: 130px; bottom: 57px; left: 81px; rotate: 125deg;} 
  .wheel-item:nth-child(5).active img { width: 48px; top: 38%; left: 47%;}    

  .wheel-item:nth-child(6).active {width: 130px; height: 130px; bottom: 143px; left: 40px; rotate: 186deg;} 
  .wheel-item:nth-child(6).active img { width: 48px; top:21%; left: 37%;}   
  
  .wheel-item:nth-child(7).active {width: 130px; height: 130px; top: 49px; left: 95px; rotate: 246deg;}
  .wheel-item:nth-child(7).active img { width: 48px; top:24%; left: 32%;}   


  .wheel-item img {width: 35px; top: 35%; left: 35%;}
  .center-eye {width: 110px; height: 110px;}
  .center-eye img {width: 70px;}

  .wheel-item span {top: 50%; left: 120%; padding: 4px 8px; border-radius: 5px;font-size: 11px;font-weight: 500; box-shadow: 0 1px 10px rgba(0, 0, 0, .12);}
  .Foresight:hover span {rotate: 54deg !important;}
  .Evidence:hover span {left: 54%; top: 0%;rotate: -5deg;}
  .Integrity:hover span {rotate: -63deg !important;top: 16%;}
  .De-risk_Security:hover span {left: 58%;rotate: -124deg !important;top: 12px;}
  .Embeds:hover span {left: 64px;rotate: 179deg !important;top: 30px;width: 62px;}
  .Response:hover span { left: 49px;rotate: 120deg !important;top: 7px; width: 71px;}

  
  .search-container {width: 90%; margin: 60px auto;}
  .search-box input{font-size: 14px;}
  .search-box button {width: 30px;height: 30px;}
  .search-box svg {width: 15px; height: 15px;}
  .close-search {top: 0;right: 14px;}
  .close-search svg {width: 25px; height: 25px;}
  .navbar-nav {align-items: flex-start !important;margin-top: 20px;}
  .nav-link {padding: 0 !important;}
  .navbar-right {margin-left: 0;}  

  .main-title { font-size: 25px;}
  .main-desc {font-size: 15px;padding: 0 30px;}
  .about-content {text-align: center;} 
  .about-text {font-size: 15px; }
  .about-content br {display: none;}
  .reports-title {font-size: 25px;}
  .reports-title br {display: none;}
  .globalPresence_new01 { padding: 20px 0;}
  .contactContent_new01 h2 {font-size: 25px;}
  .featureItem_new01 {justify-content: left;}
  .contactFeature_new01 {text-align: left;}
  .viewAllCard_new01 a {width: 50%;}
   .riskImage_riskPart { display: none;}
  /* .large-card .card-image {height: 503px;} */
  .flipCard_flip3d {height: 350px;}
  .insight-section {padding: 40px 0;}
  .hidden-card {width: 330px;}
  .large-card .card-image {height: 592px;}
  .brand-title br {display: none;}
  .brand-title {font-size: 27px;}
  .brand-text {max-width: 100%; font-size: 14px;}

  /* about us */
  .custom-navbar {background: #091C35;}
  .page-banner h1 {font-size: 28px; margin-top: 0px;}
  .who-banner {height: 250px; width: 100%;  }

  .locationAdd{height: auto;min-height: 350px;}
  .client-philosophy { padding: 40px 0;}

  .nav-tabs_02 .nav-link {padding: 14px 2px !important;}
  .leader_adv {min-width: 80%;}
  .thumb-info-title {font-size: 20px; height: 80px; display: block;}

  .iiris-feature-content-new h2 {font-size: 15px;line-height: 1.5; font-weight: 500;}
  .iiris-feature-content-new p {margin: 25px 0;  font-size: 13px;}
  .iiris-feature-content-new {padding: 20px;}
  .iiris-article-tab-new {padding: 6px 11px; font-size: 12px; font-weight: 400;}
  .iiris-article-body-new h3 { font-size: 14px;}
  .iiris-article-body-new p {margin: 10px 0 15px; font-size: 13px;}
}

/* Large Tablets / Small Laptops */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    
}

/* Desktops */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .IntelligenceCanvaPart { left: -95px;}
    .mediaSide_new01 {padding: 24px;height: 100%;}
    .mediaCard_new01 { gap: 8px; padding: 10px; margin-bottom: 10px; border-radius: 10px;}
    .mediaInfo_new01 span {font-size: 14px;}
    .mediaInfo_new01 h5 {margin-top: 5px;line-height: 16px;font-size: 12px; font-weight: 400; letter-spacing: 0px;}
    .latestMediaBtn{margin-top: 10px;}
    .featuredStory_new01 img { width: 100%;height: 520px;}    
    .articleCard_new01 img {width: 100%; height: 200px;}
    .articleBody_new01 {padding: 12px;}
    .articleBody_new01 h5 { line-height: 22px;margin-bottom: 9px; font-size: 14px;min-height: 90px; max-height: 100px;}

    .partner-visual {min-height: 574px;}
    .globalPresence_new01 { padding: 20px 0;}    
  .locationAdd{height: 240px;}

}

/* Large Desktops */
@media only screen and (min-width: 1400px) and (max-width: 1599px) {    

    .IntelligenceCanvaPart { left: -95px;}
    .mediaSide_new01 {padding: 24px;height: 100%;}
    .mediaCard_new01 { gap: 8px; padding: 10px; margin-bottom: 10px; border-radius: 10px;}
    .mediaInfo_new01 span {font-size: 14px;}
    .mediaInfo_new01 h5 {margin-top: 5px;line-height: 16px;font-size: 12px; font-weight: 400; letter-spacing: 0px;}
    .latestMediaBtn{margin-top: 10px;}
    .featuredStory_new01 img { width: 100%;height: 520px;}    
    .articleCard_new01 img {width: 100%; height: 200px;}
    .articleBody_new01 {padding: 12px;}

    .partner-visual {min-height: 538px;}
}

/* Extra Large Screens */
@media only screen and (min-width: 1600px) {
    
}